In [ ]:
q2.three boolean operators:
    1.and
    2.not
    3.or

In [ ]:
q1.true or false 
we write as True or False

In [ ]:
3.Operator	Description	Example
and 	Returns True if both statements are true	x < 5 and  x < 10	
or	Returns True if one of the statements is true	x < 5 or x < 4	
not	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)

In [ ]:
5.Operator	Name	Example
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y

In [ ]:
4.values of 
a.(5 &gt; 4) and (3 == 5) is False
b.False
c.True
d.False
e.False
f.True

In [ ]:
6.assignment(=) operator used to assign value to variable
while equal to(==) is comparison operator used for comparing two values. It returns 1 if both the values are equal otherwise returns 0.

In [ ]:
7.a.spam==10
b.spam>5
c.else:

In [8]:
spam = 23
if spam == 1:
    print('hello')
elif spam == 2:
    print('howdy')
else :
    print('greetings')

greetings

In [ ]:
ctrl+c

In [ ]:
10.The break statement terminates the loop containing it.
Control of the program flows to the statement immediately after the body of the loop.

The continue statement is used to skip the rest of the code inside a loop for the current iteration only. 
Loop does not terminate but continues on with the next iteration.

In [16]:
i = 1
while i <= 10:
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
11.range(10) contains dataset from 0 to 9
range(0,10) is having same meaning as range(10) and exclude upper bound 10 i.e. 0 to 9
range(0,10,1) having range from 0 to 9 with gap of 1 index i.e. 0,1,2,3,4,5,6,7,8,9

In [18]:
list(range(0,10,1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
13.spam.bacon()